<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
  <!--
    Global Knowly styles fragment.
    Usage: th:replace="~{fragments/styles :: styles(~{'PageName.css'})}"
    Multiple page CSS: th:replace="~{fragments/styles :: styles(~{'File1.css', 'File2.css'})}"
  -->
  <th:block th:fragment="styles(pages)">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/app.css}" />
    <link
      th:each="page : ${pages}"
      rel="stylesheet"
      th:href="@{'/css/pages/' + ${page}}"
    />
  </th:block>
</body>
</html>
